body {
	font: 100% 'LucidaGrande', 'Verdana', 'Ubuntu', sans-serif;
}
h1 {
	margin: 1em;
	text-align: center;
}
section {
	position: absolute;
	bottom: 25%;
	width: 100%;
}
section > span {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	text-align: center;
	line-height: 15em
}
span > a {
	text-decoration: none;
	vertical-align: middle;
	font-size: 12em;
	/*transition: 1s all;*/

}
span > a:hover,
span > a:active {
	opacity: .75;
	font-size: 14em;
}
span > a.correct:active {
	color: 000;
}





.red {
	color: red;
}
.green {
	color: green;
}
.blue {
	color: #16b;
}

.black {
	color: black;
}
.white {
	color: white;
}

.cyan {
	color: cyan;
}
.magenta {
	color: magenta;
}
.yellow {
	color: yellow;
}